body{
  background-image: url('ing/light-bg1.png);
  text-align: center; 
}

hl{
  font-size: 3em;
  font-family: ' Monoton', cursive;
}

.start{
  display: block;
  background-color: purple;
  color: black;
  width: 5em;
  height: 5em:
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px:
  line-height: 70px;
}


start:hover {
  transition: background-color: blue
}
